* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: rgb(201, 208, 221);
}

body {
  background-color: rgb(185, 211, 209);
}

main {
  background-color: rgb(64, 92, 92);
  min-height: 70vh;
  width: 50vw;
  margin: 15vh auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 15px rgb(20, 20, 20);
}

h1 {
  margin-top: 55px;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5% auto auto;
  gap: 20px;
}

.submit-button {
  min-width: 25%;
  margin: 20px auto auto;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: rgb(57, 63, 63);
  border: none;
  box-shadow: 0 0 10px rgb(18, 13, 90);
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(75, 83, 83);
}

.submit-button:active {
  background-color: rgb(41, 53, 53);
}

.register-text {
  margin: auto;
}

.hidden {
  display: none;
}
